{{template "base" . }}

{{define "title"}} Success{{end}}

{{define "main"}}
<div class="success_creating_product">
    <div class="success">
        <br><br><br><h2>Your new product was created successfully!</h2>
        <h3>Please, wait some time for changes to be processed.</h3><br>
        <h3>Thank you for using our service!</h3><br>
        </div>
    <div class="success_menu">
        <h4><a href="/">Home page</a></h4>
        <h4><a href="/account/">Your account</a></h4>
        <h4><a href="/categories">Categories</a></h4>
        </div>
</div>

{{end}}